.material-icons,
.material-icons-outlined {
    //font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: $icon-font-size-base;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}


.bg-icon {
    position: absolute;
    top: 50%;
    right: $spacer;
    @include transform(translate(0,-50%));
    font-size: $bg-icon-font-size;
    text-shadow: $box-shadow;
    color: $light;
}